{% raw %}
{% extends 'core/base_core.html' %}

{% load static %}
{% load floppyforms %}

{% block content %}

  <section id="about" class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="section-title">Cerimônia Religiosa</h3>
          <div class="section-title-border"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h2><strong>Capela Nossa Sra de Fátima</strong></h2>
          <h3>Praça Nossa Sra de Fátima, 2 - Jardim Esplanada</h3>
          <h3>São José dos Campos/SP</h3>
          <h4><strong><a target="_blank" href="https://www.google.com.br/maps/dir//Par%C3%B3quia+Catedral+S%C3%A3o+Dimas+Igreja+Nossa+Senhora+F%C3%A1tima+-+Pra%C3%A7a+Nossa+Sra.+de+F%C3%A1tima,+2,+S%C3%A3o+Jos%C3%A9+dos+Campos+-+SP,+12242-271/@-23.1932538,-45.9350959,13z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x94cc4a0c6350b281:0x1c66b19a0af0b0c3!2m2!1d-45.898188!2d-23.193337!3e0?hl=pt"><i class="fa fa-map-marker"></i> Ver mapa</a></strong>
          </h4>
          <p><br/></p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
          <p>
            <img width="100%" src="{% static 'themes/default/img/imagem-cerimonia.png' %}">
          </p>
        </div>
        <div class="col-xs-2"></div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <center>
            <p><br/></p>
            <p>
              <a class="btn btn-default btn-lg" href="{% url 'core.showhome' %}">Ir para página principal</a>  
              <a class="btn btn-warning btn-lg" href="{% url 'core.dicasdehoteis' %}">Dicas de hoteis</a>
            </p>
          </center>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}

{% block extrajs_bottom %}
    <script type="text/javascript">

      $(window).load(function () {
        "use strict";
        $('body').delay(350).css({
          'overflow': 'visible'
        });
      });

    </script>
{% endblock extrajs_bottom %}
{% endraw %}